.social-media svg {
    font-size: 3em;
}
.social-media {
    margin-bottom: 2em;
}
.social-media a{
    padding: 1.5em !important;
}

footer {
    background: var(--tertiary-color);
    padding: 4em 0;
}
#subscribe, #subscribe input {
    font-size: 1.1em !important;
}

@media only screen and (max-width: 500px){
    footer .flex {        
        flex-direction: column-reverse;
    }
    footer {
        padding: 2em 0;
        text-align: center;
    }
    #subscribe {
        margin-bottom: 1em;
        text-align: left;
    }
}