.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.flex-4 {
    flex: 5;
    min-width: 150px;
    max-width: 100% !important;
}
.flex-8 {
    flex: 8;
    min-width: 300px;
    max-width: 100% !important;
}

.flex img {
    padding-top: 2rem;
}

.center {
    display: grid;
    place-items: center;
    text-align: center;
}

.container {
    width: 80vw;
    padding: 0 15px;
    margin: 0 auto;
}
.container img {
    width: 70%;
    max-width: 250px;
}

.my-6 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}
.py-4 {
    padding: 2rem 0;
}

@media only screen and (max-width: 767px){
    .container {
        padding: 0 20px !important;
        width: 100% !important;
    }
    .my-6 {
        margin-top: 0 !important;
    }
}